# Ruby Gems
*.gem

# Design Files
*.psd
*.ai

# IntelliJ
.idea

# Local Site Directories
_site/
docs/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle

# Node / Tailwind
node_modules/
assets/css/main.css

# Log Files
*.log