<!-- about -->
<section class="py-[20px] sm:py-20">
  <div class="container-page">
    <div class="flex flex-wrap -mx-[15px]">
      <div class="relative w-full px-[15px] mx-auto text-center lg:w-5/6">
        <p class="font-secondary text-paragraph-lg text-black">{{ site.data.settings.blurb }}</p>
        {% include ui/button.html variant="transparent" href=site.data.settings.blurb-btn-link label=site.data.settings.blurb-btn-name style="view-transition-name: about-page-title;" %}
      </div>
    </div>
  </div>
</section>
<!-- /about -->
