{% if site.data.settings.certificates %}
<!-- certificates -->
<section class="section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.certificates-title }}</h2>
      </div>
      {% for certificates in site.data.settings.certificates %}
      <div class="col-lg-6 col-md-6 mb-section-gap">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <p class="text-dark mb-1">{{ certificates.date }}</p>
            <h4>
              {% if certificates.certificate %}
              <a href="{{ certificates.certificate }}" class="edu-cert" title="View certificate">{{ certificates.name }}</a>
              {% else %}
              {{ certificates.name }}
              {% endif %}
            </h4>
            <p class="mb-0 text-light">{{ certificates.organization }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- bg image -->
  <img class="img-fluid edu-bg-image w-100" src="{{ site.baseurl }}/assets/images/backgrounds/education-bg.png" alt="bg-image">
</section>
<!-- /certificates -->
{% endif %}