<!-- contact -->
<section class="py-[20px] sm:py-20 -mb-[250px]" style="background-image: url({{site.baseurl}}/assets/images/backgrounds/bg-dots.png)">
  <div class="container-page">
    <div class="flex flex-wrap -mx-[15px]">
      {% if page.title != "Contact" %}
      <div class="relative w-full px-[15px] text-center">
        <h2 class="text-h2 font-secondary mb-20">{{ site.data.settings.contact-title }}</h2>
      </div>
      {% endif %}
      <div class="relative w-full px-[15px] mx-auto lg:w-2/3">
        <div class="bg-surface rounded text-center p-12 relative before:content-[''] before:absolute before:inset-0 before:-z-10 before:shadow-glow">
          <div id="contactFormAlert" class="hidden relative py-3 px-5 mb-4 rounded border border-[#c3e6cb] bg-[#d4edda] text-[#155724]" role="alert">
            &nbsp;<span>Thank you for your inquiry. I'll get in touch with you soon!</span>
            <i class="ti-close" id="contactFormAlertBtn"></i>
          </div>

          <form class="flex flex-wrap -mx-[15px]" id="contactForm">
            <div class="relative w-full px-[15px] md:w-1/2">
              <input type="text" id="name" name="name" placeholder="Full Name" class="block w-full h-[60px] py-[0.375rem] px-0 mb-6 text-[1rem] leading-[1.5] text-input-text bg-surface border-b-[1px] border-b-line rounded-none focus:border-b-primary focus:outline-none" required>
            </div>
            <div class="relative w-full px-[15px] md:w-1/2">
              <input type="email" id="email" name="email" placeholder="Email Address" class="block w-full h-[60px] py-[0.375rem] px-0 mb-6 text-[1rem] leading-[1.5] text-input-text bg-surface border-b-[1px] border-b-line rounded-none focus:border-b-primary focus:outline-none" required>
            </div>
            <div class="relative w-full px-[15px]">
              <textarea name="message" id="message" class="block w-full h-[120px] py-[0.375rem] px-0 mb-6 text-[1rem] leading-[1.5] text-input-text bg-surface border-b-[1px] border-b-line rounded-none focus:border-b-primary focus:outline-none"
                placeholder="Type Message Here" required></textarea>
            </div>
            <div class="relative px-[15px] mx-auto w-5/6 lg:w-1/2">
              {% include ui/button.html tag="button" type="submit" label="send" extra="w-full" %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
