<section>
  <div class="container-page">
    <div class="flex flex-wrap -mx-[15px]">
      <div class="relative w-full px-[15px]">
        <h4 class="text-h4 font-secondary font-bold mb-[1rem]!">Comments</h4>
        <div id="disqus_thread"></div>
        <script>
          (function () {
            var d = document, s = d.createElement('script');
            s.src = '//{{ site.data.settings.disqus-identifier }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the
          <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
      </div>
    </div>
  </div>
</section>