<!-- footer -->
<footer class="bg-footer pt-[200px]">
  <div class="py-[20px] sm:py-20">
    <div class="container-page">
      <div class="flex flex-wrap -mx-[15px]">
        <div class="relative w-full px-[15px] lg:w-1/3">
          <h5 class="text-h5 font-secondary text-muted">Email</h5>
          <p class="text-white text-paragraph-lg font-secondary">
            <a class="text-white" href="mailto:{{ site.data.settings.email }}">{{ site.data.settings.email }}</a>
          </p>
        </div>
        <div class="relative w-full px-[15px] lg:w-1/3">
          <h5 class="text-h5 font-secondary text-muted">Phone</h5>
          <p class="text-white text-paragraph-lg font-secondary">{{ site.data.settings.phone }}</p>
        </div>
        <div class="relative w-full px-[15px] lg:w-1/3">
          <h5 class="text-h5 font-secondary text-muted">Socials</h5><br/>
          {% for social in site.data.settings.social %}
          <li class="inline p-[15px]">
            <a class="text-white" href="{{ social.link }}">
              <i class="{{ social.icon }} text-[x-large]"></i>
            </a>
          </li>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="border-t border-t-footer-line text-center py-12">
    <p class="mb-0 text-muted">{{site.data.settings.copyright | markdownify}}</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Site scripts -->
<script src="{{ '/assets/js/nav.js' | relative_url }}"></script>
<script src="{{ '/assets/js/parallax.js' | relative_url }}"></script>
<script src="{{ '/assets/js/carousel.js' | relative_url }}"></script>
<script src="{{ '/assets/js/portfolio-filter.js' | relative_url }}"></script>
<script src="{{ '/assets/js/emailForm.js' | relative_url }}"></script>
