<!-- hero area -->
<section class="bg-primary relative pt-62.5 pb-37.5 overflow-hidden md:pt-75 md:pb-50 md:overflow-visible" id="parallax">
  <div class="container-page">
    <div class="flex flex-wrap -mx-3.75">
      <div class="relative w-full px-3.75 mx-auto lg:w-[91.666667%]">
        <h1 class="text-h1 font-secondary text-white relative z-2">{{ site.data.settings.hero.hero-title }}</h1>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 w-full">
    <img class="max-w-full h-auto w-full" src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg.png" alt="bg-shape">
  </div>
  <div class="absolute z-1 top-47.5 -left-62.5" id="l2">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="bg-shape">
  </div>
  <div class="absolute z-1 top-50 left-[40%]" id="l3">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="absolute z-1 top-50 right-[40%]" id="l4">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-orange.png" alt="bg-shape">
  </div>
  <div class="absolute z-1 top-25 -right-37.5 hidden md:block" id="l5">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="bg-shape">
  </div>
  <div class="absolute z-1 -bottom-5 left-[10%] hidden md:block" id="l6">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <div class="absolute z-1 bottom-25 left-[20%] hidden md:block" id="l7">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-orange.png" alt="bg-shape">
  </div>
  <div class="absolute z-1 bottom-40 right-[45%] hidden md:block" id="l8">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div>
  <div class="absolute z-1 bottom-25 -right-2.5 hidden md:block" id="l9">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
  </div>
  {% include social-icon.html %}
  <!-- /social icon -->
</section>
<!-- /hero area -->
