{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-home-items %}
      <div class="col-lg-4 col-sm-6 col-12 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              {% if item.url %}
              <a class="btn btn-light btn-sm" href="{{ item.url }}">
                {% if item.url-text %}
                {{ item.url-text }}
                {% else %}
                view project
                {% endif %}
              </a>
              {% endif %}
              {% if item.github %}
              <a class="btn btn-dark btn-sm ms-3" href="{{ item.github }}">
                {% if item.url %}
                <i class="ti-github"></i>
                {% else %}
                Visit Github
                {% endif %}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ site.data.settings.portfolio-home-btn-link }}" class="btn btn-transparent">{{ site.data.settings.portfolio-home-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}