<div class="relative w-full px-[15px] mb-6 sm:w-1/2 lg:w-1/3">
  <article class="relative flex flex-col min-w-0 break-words rounded bg-white bg-clip-border shadow-soft">
    <img class="w-full rounded h-[200px]! object-cover" src="{{ post.image | relative_url }}" alt="{{ post.title }}">
    <div class="flex-auto p-[1.25rem]">
      <h4 class="text-h4 font-secondary mb-[0.75rem]!">
        <a class="text-black! hover:text-primary!" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h4>
      <p>{% assign curlyend = '}' %}{{ post.excerpt | markdownify | strip_html | replace: "{% include JB/setup %", "" | replace: curlyend, "" | truncatewords: 30 }}</p>
      {% include ui/button.html size="xs" href=post.url label="Read More" %}
    </div>
  </article>
</div>
