---
layout: default
image: assets/image/banner.png
---
<!-- page title -->
<section class="bg-primary relative pt-[120px] pb-[50px] [text-align:center] sm:py-[180px] sm:[text-align:start] lg:pt-[350px] lg:pb-[70px]">
  <div class="container-page relative z-[1]">
    <div class="flex flex-wrap -mx-[15px]">
      <div class="relative w-full px-[15px]">
        <h1 class="text-h1 font-secondary text-white!" style="view-transition-name: about-page-title;">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg-top.png" alt="illustrations" class="max-w-full h-auto absolute left-0 top-0 w-full">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-sm.png" alt="illustrations" class="max-w-full h-auto absolute left-[70px] top-[100px]">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="illustrations" class="max-w-full h-auto absolute left-[30%] top-[50px] rotate-180">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="illustrations" class="max-w-full h-auto absolute left-[100px] bottom-[100px] hidden sm:block">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="max-w-full h-auto absolute left-[40%] bottom-[-25px] hidden sm:block">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="max-w-full h-auto absolute bottom-[100px] right-[-100px] hidden sm:block">
</section>
<!-- /page title -->

<!-- about -->
<section class="pt-[48px] pb-[20px] sm:pb-20">
  <div class="container-page">
    <div class="flex flex-wrap -mx-[15px]">
      <div class="relative w-full px-[15px] md:w-2/3">
        {{ content }}
      </div>
      <div class="relative w-full px-[15px] text-center md:w-1/3 lg:-mt-[230px]">
        <div class="relative mb-6 before:content-[''] before:absolute before:inset-0 before:-z-10 before:shadow-glow">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="max-w-full h-auto w-full rounded-[15px] border-[10px]! border-white!">
        </div>
        {% if page.signature %}
        <img src="{{ site.baseurl }}/{{ page.signature }}" alt="signature" class="max-w-full h-auto">
        {% endif %}
        <h4 class="text-h4 font-secondary">{{ page.author }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

{% include work-process-section.html %}

{% include team-section.html %}


{% if site.data.settings.client-slider-items %}
<section class="py-[20px] sm:py-20">
  <div class="container-page">
    <div class="flex flex-wrap -mx-[15px]">
      <div class="relative w-full px-[15px] text-center">
        <h2 class="text-h2 font-secondary mb-20!">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>
{% endif %}
