---
layout: default
---
<!-- page title -->
{% include page-title.html heading="h3" title=page.title %}
<!-- /page title -->

<section class="py-[20px] sm:py-20">
  <div class="container-page">
    <div class="flex flex-wrap -mx-[15px]">
      <div class="relative w-full px-[15px]">
        <img src="{{page.image | relative_url }}" class="max-w-full h-auto rounded float-left me-12 mb-6" alt="{{page.title}}">
        <p class="font-secondary">Published on {{ page.date | date: '%b %d, %Y' }} by <span class="text-accent">{{ page.author }}</span
            class="text-accent"> on {% for tag in page.tags %}<span>{{ tag }} </span>{% endfor %}</p>
        {% if page.image_source %}
        <p class="font-secondary">Header Image on <a href="{{ page.image_source_url }}">{{ page.image_source }}</a></p>
        {% endif %}
        <div class="content my-12 prose max-w-none prose-headings:font-secondary prose-headings:text-heading prose-headings:leading-[1.2] prose-p:text-[15px] prose-p:leading-[1.8] prose-p:text-body-text prose-li:text-[15px] prose-li:leading-[1.8] prose-li:text-body-text prose-a:text-link prose-a:no-underline hover:prose-a:text-link-hover prose-strong:font-secondary prose-strong:text-[22px] prose-strong:font-normal prose-strong:text-heading prose-strong:leading-[1.5] prose-blockquote:border-s-2 prose-blockquote:border-s-primary prose-blockquote:bg-haze prose-blockquote:not-italic">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

<!-- blog -->
<section class="py-[20px] sm:py-20">
  <div class="container-page">
    <div class="flex flex-wrap -mx-[15px]">
      <div class="relative w-full px-[15px] text-center">
        <h2 class="text-h2 font-secondary mb-20">Similar Stories</h2>
      </div>
      {% for post in site.posts offset:0 limit:3 %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->